name: Build Website

on:
  push:
    branches: ["main"]
  schedule: 
    - cron: "*/30 * * * *"
  workflow_dispatch:
  
permissions:
  contents: write

env:
  GITHUB_TOKEN: ${{ github.token }}
  SIMKL_ACCESS_TOKEN: ${{ secrets.SIMKL_ACCESS_TOKEN }}
  SIMKL_CLIENT_ID: ${{ secrets.SIMKL_CLIENT_ID }}
  TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
  TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
  TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
  TWITTER_API_KEY_SECRET: ${{ secrets.TWITTER_API_KEY_SECRET }}
  TWITTER_BEARER: ${{ secrets.TWITTER_BEARER }}
  TWITTER_CLIENT_ID: ${{ secrets.TWITTER_CLIENT_ID }}
  TWITTER_CLIENT_ID_SECRET: ${{ secrets.TWITTER_CLIENT_ID_SECRET }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Cloning notes repo
      shell: bash
      run: |
        git config --global url."https://${{ secrets.TOKENS }}@github".insteadOf https://github
        git clone https://github.com/AnzenKodo/notes.git src/notes
        
    - name: Setup Deno
      # uses: denoland/setup-deno@v1
      uses: denoland/setup-deno@004814556e37c54a2f6e31384c9e18e983317366
      with:
        deno-version: v1.x
        
    - name: Build
      run: ./src/run.sh
      shell: bash
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
